[submodule "types"]
	path = types
	url = git+ssh://git@github.com:xharris/eventfulTypes.git
[submodule "src/eventfulLib"]
	path = src/eventfulLib
	url = git+ssh://git@github.com:xharris/eventfulLib.git
